<div *ngIf="showjs" class="fitt-screen-js" [ngStyle]="{ 'height.px': innerHeight, 'width.px': innerWidth }">
  <button (click)="onFittScreenJsClicked($event)">
    See css version
  </button>
  <div>
    innerWidth: {{innerWidth }} outerWidth: {{outerWidth }} innerHight: {{innerHeight }} outerHeight: {{outerHeight }}
  </div>
</div>
<div *ngIf="!showjs" class="fitt-screen-css">
  <button (click)="onFittScreenCssClicked($event)">
    See JS version
  </button>
  <div>
    innerWidth: {{innerWidth }} outerWidth: {{outerWidth }} innerHight: {{innerHeight }} outerHeight: {{outerHeight }}
  </div>
</div>
