/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100vh;
    margin: 0;
}

html{
    overflow: hidden;
    width:100%;
}
body{
    height:100%;
    position:fixed; /* prevent overscroll bounce*/
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch; /* iOS velocity scrolling */
    width:50%;                    
    margin-left:25%;
} 